<p-growl [(value)]="msgs" [class]="classname">
<!-- Template driven form -->
</p-growl>
<p-dataTable [value]="users" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)" [paginator]="true"
  rows="15" [responsive]="true">
  <p-column field="firstname" header="First Name" [sortable]="true"></p-column>
  <p-column field="lastname" header="Last Name" [sortable]="true"></p-column>
  <p-column field="mobile" header="Mobile" [sortable]="true"></p-column>
  <p-column field="email" header="Email" [sortable]="true"></p-column>
  <p-footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </p-footer>
</p-dataTable>
<p-dialog header="User Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="currentUser">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="firstname">*First Name :</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="firstname" [(ngModel)]="currentUser.firstname" placeholder="First Name" />
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="lastname">*Last Name :</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="lastname" [(ngModel)]="currentUser.lastname" />
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="mobile">*Mobile:</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="mobile" [(ngModel)]="currentUser.mobile" />
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="email">*Email:</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="email" [(ngModel)]="currentUser.email" />
      </div>
    </div>
    <div class="ui-grid-row" *ngIf="isNewRecord===true">
      <div class="ui-grid-col-4">
        <label for="userName">*User Name:</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="userName" [(ngModel)]="currentUser.username" />
      </div>
    </div>
    <div class="ui-grid-row" *ngIf="isNewRecord===true">
      <div class="ui-grid-col-4">
        <label for="password">*Password:</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="password" [(ngModel)]="currentUser.password" />
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>